.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #003459;
    margin-bottom: 60px;
}
.detalle-rol-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 120px;
}
.detalle-rol-input {
    display: flex;
    flex-direction: column;
    width: 400px;
}
.detalle-rol-input p,
select {
    margin-bottom: 15px; /* Ajusta el espacio entre los inputs */
    padding: 8px;
    padding-left: 15px;
    background: #d9d9d9;
    border-radius: 4px;
    border: none;
}

select:focus {
    border-color: #1e72c5; /* Color del borde cuando el <select> está en foco */
}
select:enabled {
    color: #5e5d5d;
    font: normal;
}
select option:checked {
    color: white;
    background-color: #06325e;
}
.btn-container-regresar {
    position: absolute;
    bottom: 90px;
    left: 35px;
    margin-left: 20px;
}
.btn-regresar {
    display: inline-block;
    padding: 10px 20px;
    background: #003459;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: transform 0.1s ease, background-color 0.3s ease;
    cursor: pointer;
}
.btn-regresar:active {
    transform: scale(0.95);
}
.btn-container-regresar :hover {
    background: #90ccf7;
}
.permisos-section {
    background: #d9d9d9;
    margin-bottom: 8px;

    border-radius: 8px;
}
.permisos-section p {
    font-weight: 600;
    margin-bottom: -2px;
}

.permisos-container {
    display: grid;
    border-radius: 8px;
    grid-template-columns: repeat(3, 1fr); /* Crea 2 columnas de igual ancho */
    padding: 1px 20px;
    width: 400px; /* Ajusta el ancho general del contenedor */
}
