.nuevo-producto-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 80px;
}
.nuevo-producto-input {
    display: flex;
    flex-direction: column;
    width: 400px;
}
input::placeholder {
    color: #5e5d5d;
}
.nuevo-producto-input input,
select {
    margin-bottom: 15px; /* Ajusta el espacio entre los inputs */
    padding: 8px;
    padding-left: 15px;
    background: #d9d9d9;
    border-radius: 4px;
    border: none;
}

select:focus {
    border-color: #1e72c5; /* Color del borde cuando el <select> está en foco */
}
select:enabled {
    color: #5e5d5d;
    font: normal;
}
select option:checked {
    color: white;
    background-color: #06325e;
}
.nuevo-producto-input input:last-child {
    margin-bottom: 0;
}
.btn-crear {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 50px;
    padding: 5px 30px;
    border-radius: 8px;
    color: white;
    background-color: #0290c9;
    border: none;
}
.btn-crear:hover {
    background-color: #87cafa;
}
.btn-crear:active {
    transform: scale(0.95);
}
.btn-container-regresar {
    position: absolute;
    bottom: 90px;
    left: 35px;
    margin-left: 20px;
}
.btn-regresar {
    display: inline-block;
    padding: 10px 20px;
    background: #003459;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: transform 0.1s ease, background-color 0.3s ease;
    cursor: pointer;
}
.btn-regresar:active {
    transform: scale(0.95);
}
.btn-container-regresar :hover {
    background: #90ccf7;
}
.marca-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    width: 445px;
}
.marca-container select {
    margin-bottom: 15px; /* Ajusta el espacio entre los inputs */
    padding: 8px;
    width: 100%;
    padding-left: 15px;
    background: #d9d9d9;
    border-radius: 4px;
    border: none;
}
.marca-container select:enabled {
    color: #5e5d5d;
    font: normal;
}
.marca-container option:checked {
    color: white;
    background-color: #06325e;
}

.btn-marca {
    display: relative;
    padding: 5px 12px;
    margin-top: -15px;
    font-size: 16px;
    background: #003459;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: transform 0.1s ease, background-color 0.3s ease;
    cursor: pointer;
    line-height: 1.5;
}
.btn-marca:active {
    transform: scale(0.95);
}
.btn-marca:hover {
    background: #90ccf7;
}
.categoria-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    width: 445px;
}
.categoria-container select {
    margin-bottom: 15px; /* Ajusta el espacio entre los inputs */
    padding: 8px;
    width: 100%;
    padding-left: 15px;
    background: #d9d9d9;
    border-radius: 4px;
    border: none;
}
.categoria-container select:enabled {
    color: #5e5d5d;
    font: normal;
}
.categoria-container option:checked {
    color: white;
    background-color: #06325e;
}

.btn-categoria {
    display: relative;
    padding: 5px 12px;
    margin-top: -15px;
    font-size: 16px;
    background: #003459;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: transform 0.1s ease, background-color 0.3s ease;
    cursor: pointer;
    line-height: 1.5;
}
.btn-categoria:active {
    transform: scale(0.95);
}
.btn-categoria:hover {
    background: #90ccf7;
}
