.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #003459;
    margin-bottom: 50px;
}
.nuevo-rol-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 150px;
}
.nuevo-rol-input {
    display: flex;
    flex-direction: column;
    width: 400px;
}
input::placeholder {
    color: #5e5d5d;
}
.nuevo-rol-input input,
select {
    margin-bottom: 20px; /* Ajusta el espacio entre los inputs */
    padding: 8px;
    padding-left: 170px;
    background: #d9d9d9;
    border-radius: 4px;
    border: none;
}

select:focus {
    border-color: #1e72c5; /* Color del borde cuando el <select> está en foco */
}
select:enabled {
    color: #0f0f0f;
    font: normal;
}
select option:checked {
    color: white;
    background-color: #06325e;
}
.nuevo-usaurio-input input:last-child {
    margin-bottom: 0;
}
.permisos-section {
    background: #d9d9d9;
    margin-bottom: 8px;

    border-radius: 4px;
}
.permisos-section p {
    font-weight: 600;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.permisos-container {
    display: grid;
    padding: 8px 30px 10px 45px;
    grid-template-columns: repeat(3, 1fr); /* Crea 2 columnas de igual ancho */
    width: 400px; /* Ajusta el ancho general del contenedor */
}

.btn-crear {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 30px;
    padding: 5px 30px;
    border-radius: 8px;
    color: white;
    background-color: #0290c9;
    border: none;
}
.btn-crear:hover {
    background-color: #87cafa;
}
.btn-crear:active {
    transform: scale(0.95);
}
.btn-container-regresar {
    position: absolute;
    bottom: 90px;
    left: 35px;
    margin-left: 20px;
}
.btn-regresar {
    display: inline-block;
    padding: 10px 20px;
    background: #003459;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: transform 0.1s ease, background-color 0.3s ease;
    cursor: pointer;
}
.btn-regresar:active {
    transform: scale(0.95);
}
.btn-container-regresar :hover {
    background: #90ccf7;
}
